body {
  margin: 1% 8%;
  color: #003f73;
}
.topdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inputmain {
  display: flex;
  flex-direction: column;
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.inputinner {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background-color: #c2e3ff;
  width: 19vw;
  height: 30px;
  font-size: 1.1rem;
}
button {
  background-color: #c2e3ff;
  border: 0;
  font-size: 1.1rem;
  padding: 10px;
  border-radius: 5px;
  width: 90px;
  height: 50px
}
.colorlist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 14vw;
  padding: 5px;
  font-size: 1.1rem;
}
.color1 {
  border: 1px solid black;
  height: 17px;
  width: 17px;
}
.color2 {
  height: 18px;
  width: 18px;
  background-color: #c2e3ff;
}
.color3 {
  height: 18px;
  width: 18px;
  background-color: #008cff;
}
.color4 {
  height: 18px;
  width: 18px;
  background-color: #003f73;
}
.graphcontainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.leftcontainer {
  background-color: #008cff;
  width: 60px;
  /* height: 50px; */
  border-radius: 4px;
  /* transform: rotate(180deg); */
  height: 40vh;
}

.piechartleft {
  background-color: rgb(205, 205, 205);
  color: white;
  padding: 1%;
  text-align: right;
  font-size: 20px;
  /* border-radius: 4px; */
  /* Ye change krna h -- value */
  height: 40%;
}

.piechartmiddle {
  display: block;
  /* position: absolute; */
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  background-image: conic-gradient( #008cff 180deg, rgb(205, 205, 205) 0 235deg);
}

.rightcontainer {
  background-color: #008cff;

  width: 60px;
  /* height: 50px; */
  border-radius: 4px;
  /* transform: rotate(180deg); */
  height: 40vh;
}

.piechartright {
  /* background-color: rgb(192, 192, 192); */
  background: linear-gradient(to top, #008cff, rgb(205, 205, 205));

  color: white;
  padding: 1%;
  text-align: right;
  font-size: 20px;
  border-radius: 4px;
  height: 90%;
}
